body {
	background-color:white;
	font-family: arial !important;
}

.header {
  background: url(http://i.imgur.com/GfqhflZ.gif) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 450px;
  vertical-align: middle;
  color:black;
  margin-top:-50px; 


}

.port-text {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
  padding: 10px;
}


.port-t {
  text-align: center;
  position: relative;
  top: 40%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
  padding: 10px;
}

.bubble-sort {
   background-color:#2D3033;
   margin-top:30px;
   margin-left: 25px;
   text-align: center; 
   width: 30%;
   color: white;
   border-radius:5px; 
   padding: 10px;
   float: left;
   box-shadow: 8px 8px 5px gray;
   margin-bottom: 10px;
}


.img-responsive {
  margin-left:auto;
  margin-right: auto; 
}

.row {
	display: inline-block;
}

.algo-row {
	color: black;
	margin-right: auto;
    margin-left: auto;
	border-radius: 1%;
    width: 100%;
}

/*Mobile views*/

@media only screen and (max-width: 1000px) {
	.bubble-sort {
		background-color:#2F2F2F;
		margin-top:30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center; 
		width: 80%;
		color: white;
		border-radius:5px; 
		padding: 10px;
		float: none;
	}
}


.pop-up {
	color: black;
}

button {
	background-color: black;
	margin: 5px;

}
